.hide {
    display: none;
}

.fr {
    float: right;
}

.color666 {
    color: #666;
}

.inline {
    display: inline-block;
}

.pay-confirm-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 10000;
}

.pay-confirm-box {
    display: inline-block;
    margin-top: 200px;
    background: white;
    border-radius: 2px;
    position: relative;
    width: 500px;
    text-align: left;
    margin: auto;
    margin-top: 245px;
    box-shadow: 7px 4px 20px 0px hsla(0, 0%, 65%, 0.38);
}

.pay-confirm-box .title {
    text-align: left;
    padding: 12px 20px;
    font-size: 16px;
    border-bottom: 1px solid rgb(219, 219, 219);
    font-weight: bold;
}

.pay-confirm-box .content {
    padding: 20px 30px 25px;
}

.pay-confirm-box .close {
    width: 9px;
    height: 9px;
    background: url(/public/v2/base/images/close-icon.png?0730) no-repeat;
    position: absolute;
    top: 16px;
    right: 17px;
    cursor: pointer;
}

.payment {
    padding-bottom: 25px;
    border-bottom: 1px dashed #cecece;
}

.pay-item-tip .payment {
    text-align: center;
    border-bottom: none;
    line-height: 26px;
    color: #666;
    padding-bottom: 0;
    font-size: 16px;
}

.payment .name {
    font-size: 16px;
    margin-bottom: 15px;
}

.payment .price {
    margin-bottom: 15px;
    font-size: 16px;
}

.payment .value {
    color: #d72612;
}

.pay-confirm-box .submits {
    text-align: center;
    margin-top: 15px;
}

.pay-confirm-box .pay-btn {
    display: inline-block;
    padding: 6px 35px;
    border-radius: 5px;
    background: #F6554A;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.pay-confirm-box .pay-btn.jump {
    padding: 9px 20px;
}

.pay-confirm-box .pay-btn.finish {
    padding: 6px 46px;
}

.pay-item-tip .submits {
    text-align: center;
    margin-top: 20px;
}

.pay-item-tip .wrong {
    background: #a3a2a2;
}

.agree .blue {
    color: #1176E8;
}

.agree input {
    position: relative;
    top: 2px;
    left: -3px;
}

.agree .txt {
    color: #999;
}

.agree-tip {
    margin-top: 10px;
    font-size: 12px;
}

.orderNum-value {
    color: #666;
}


/*  */

.defray-content {
    padding: 12px 0 0 0;
    border-bottom: 1px dashed #cecece;
}

.defray-item {
    height: 43px;
    margin: 12px auto;
}

.yn_pay {
    width: 340px;
    position: relative;
    top: 4px;
    color: #333;
    font-size: 16px;
}

.type-alipay {
    background: url(/public/v2/base/images/zhifubao.png?0730) no-repeat;
    padding-left: 45px;
}

.type-wx {
    background: url(/public/v2/base/images/weixin.png?0730) no-repeat;
    padding-left: 45px;
}

.type-nb {
    background: url(/public/v2/base/images/yue.png?0730) no-repeat;
    padding-left: 45px;
}

.defray-item .rounded {
    width: 14px;
    height: 14px;
    position: relative;
    top: 7px;
    border: 1px solid #B3B3B3;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.defray-item.thisclass .rounded {
    border: 1px solid #CB1F13;
}

.rounded label {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 1px;
    left: 1px;
    cursor: pointer;
    background: #B3B3B3;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.defray-item.thisclass .rounded label {
    background: #CB1F13;
}

.defray-item.disable .rounded {
    background: #cccccc;
}

.defray-item.disable .rounded label {
    background: #cccccc;
}


/*.rounded label:after {
    content: '';
    width: 11px;
    height: 7px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: all .3s;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}*/


/*.rounded label.disable {
    background: #D7D7D7;
}*/


/*.rounded label:hover::after {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}*/


/*.rounded input[type=radio] {
     position:relative;
    top:1px;
    left:1px;
    visibility: hidden;
}*/


/*.rounded input[type=radio]:checked+label {
    background: #CB1F13;
    top: 1px;
    left: 1px;
}*/


/*  */

.balance-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/public/v2/base/images/balance-icon.png?0730) no-repeat;
    position: relative;
    top: 4px;
    left: 10px;
}

.yn_balance {
    color: #666;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #E7E5E5;
    border-left: none;
    box-shadow: 5px 3px 10px #ececec;
    padding: 2px 10px;
}

.balance-arrow {
    display: inline-block;
    width: 10px;
    height: 24px;
    background: url(/public/images/arrow.png) no-repeat;
    margin-left: 10px;
    position: relative;
    top: 6px;
    left: 5px;
}

.pay-confirm-overlay .colorRed {
    color: #F6554A;
}

.orderNum {
    font-size: 16px;
}

.yn-balance-value {
    margin-right: 10px;
}